.content {
    margin: 30px;
}
table, td, th {
    border: 1px solid #aaa;
    text-align: center;
    padding: 0px;
}

/*RADIO BUTTONS*/
.radio ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.radio li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}