<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        {% endblock %}

            <title>Propeller Calculator</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script src="{{ url_for('static', filename='app.js') }}"></script>
        {% endblock %}
    </body>
</html></html>