{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h1>Propeller Efficiency Calculator</h1>

    <div class="layout-container">
        <div class="form-column">
            <form action="/" method="POST">

                {% for field in inputs.text %}
                    {{ field.label }}<br>
                    {{ field(class_="form-control") }}<br>
                {% endfor %}

                {% for field in inputs.radio %}
                    <div class="list-group">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}

                <div id="power-coefficient-input" class="{{'hidden-input' if inputs.radio.blade_type.data == 'fix'}}">
                    {{ inputs.specs.Cp.label }}<br>
                    {{ inputs.specs.Cp(class_="form-control") }}<br>
                </div>

                <div id="angle-input" class="{{'hidden-input' if inputs.radio.blade_type.data == 'var'}}">
                    {{ inputs.specs.angle.label }}<br>
                    {{ inputs.specs.angle(class_="form-control") }}<br>
                </div>

                <div id="speed-input" class="{{'hidden-input' if inputs.radio.blade_type.data == 'var'}}">
                    {{ inputs.specs.v_cruise.label }}<br>
                    {{ inputs.specs.v_cruise(class_="form-control") }}<br>
                </div>
                <input type=submit value=Compute class="btn btn-primary">
            </form>
        </div>
        <div class="pitch-column">
            <h3>There was a problem!</h3>
            <p>Try changing some of the data.</p>
    </div>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            $('input:radio[name="blade_type"]').change(function() {
                if ($(this).val() == 'var') {
                    $('#angle-input').hide();
                    $('#speed-input').hide();
                    $('#power-coefficient-input').show();
                } else {
                    $('#angle-input').show();
                    $('#speed-input').show();
                    $('#power-coefficient-input').hide();
                }
            });
        });
    </script>
{% endblock %}