{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h1>Propeller Efficiency Calculator</h1>

        <div class="layout-container">
            <div class="form-column">
                <form id="prop-form" enctype="multipart/form-data">
                    <div>
                        {% for field in inputs.text %}
                            {{ field.label }}
                            {{ field(class_="form-group form-control") }}
                        {% endfor %}

                        {% for field in inputs.radio %}
                            <div class="radio">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endfor %}

                        <div id="power-coefficient-input" class="{{'hidden-input' if inputs.radio.blade_type.data == 'fix'}}">
                            {{ inputs.specs.Cp.label }}<br>
                            {{ inputs.specs.Cp(class_="form-control") }}<br>
                        </div>

                        <div id="angle-input" class="{{'hidden-input' if inputs.radio.blade_type.data == 'var'}}">
                            {{ inputs.specs.angle.label }}<br>
                            {{ inputs.specs.angle(class_="form-control") }}<br>
                        </div>

                        <div id="speed-input" class="{{'hidden-input' if inputs.radio.blade_type.data == 'var'}}">
                            {{ inputs.specs.v_cruise.label }}<br>
                            {{ inputs.specs.v_cruise(class_="form-control") }}<br>
                        </div>
                        <input type=submit value=Compute class="btn btn-primary" id="prop-submit">
                    </div>


                </form>
                <div class="toast" id="error-popup" data-delay="1500">
                    <div class="toast-header">
                        The data is not valid.
                    </div>
                    <div class="toast-body">
                        Change some of the fields.
                    </div>
                </div>
            </div>
            <div class="text-column">
                <h3>Easy to use!</h3>
                <p>Definitely easier than your old Casio. And it has charts.</p>
                <h3>No more wasted time!</h3>
                <p>The best companion for everyone studying Mechanics of Flight.</p>
                <h3>Blazing fast!</h3>
                <p>Don't wait. Just try it.</p>
            </div>
            <div class="table-column">
                <table class="table table-bordered table-striped"></table>
            </div>
            <div class="pitch-column">
                <div class="chart" id="chart1"></div>
                <div class="chart" id="chart2"></div>
            </div>
        </div>

    </div>
{% endblock %}